@import url(base.css);
/*头部部分开始*/
.head-box{
	width: 100%;
	height: 276px;
}
/*顶部菜单栏*/
.toplist-box{
	width: 100%;
	height: 34px;
	background-color: #EEE;
	border-bottom: 1px solid white;
}
.toplist-milddle{
	width: 1190px;
	height: 34px;
	margin: 0 auto;
}
.toplist-milddle ul{
	width: 331px;
	height: 34px;
	line-height: 34px;
	padding-left:4px;
	float: left;
}
.toplist-milddle-left1{
	width: 87px;
	height: 34px;
	position: relative;
	float: left;
}
.toplist-milddle-left1 a{
	width: 48px;
	height: 34px;
	padding-left: 27px;
	margin: 0 6px;
	display: block;
	color: rgb(102,102,102);
	font-size: 12px;
	line-height: 34px;
}
.toplist-milld1-img1{
	width: 21px;
	height: 21px;
	position: absolute;
	top:7px;
    left: 6px;
	display: block;
	background: url(../img/header-02.png) no-repeat -225px 0  ;  
}
.toplist-milld1-left1:hover a{
	color: rgb(229,0,79);
}
.toplist-milld1-left1:hover s{
	background-position: -225px -27px; 
}
.toplist-milld1-line{
	height: 14px;
	border-left: 1px solid rgb(204,204,204);
	position: relative;
	float: left;
	top: 10px;
	margin: 0 4px;
}
.toplist-milld1-left2{
	width: 79px;
	height: 34px;
	position: relative;
	float: left;
}

.toplist-milld1-left2 a{
	width: 40px;
	height: 34px;
	padding-left: 31px;
	padding-right: 6px;
	display: block;
	color: rgb(102,102,102);
	font-size: 12px;
	line-height: 34px;
}
.toplist-milld1-img2{
	width: 21px;
	height: 21px;
	position: absolute;
	top:7px;
    left: 6px;
	display: block;
	background: url(../img/header-02.png) no-repeat -225px -58px;  
}
.toplist-milld1-list{
	width: 120px;
	height: 140px;
	background-color: #fff;
	position: absolute;
	top: 0;
	z-index:10;
	display: none;
	cursor: pointer;
}
.toplist-milld1-list img{
	display: block;
	margin: auto;
	cursor: default;
}
b{
	width: 9px;
	height: 5px;
	position: absolute;
	display: block;
	left: 62px;
	top:16px;
	background: url(../img/header-02.png) no-repeat -175px -111px; 
}
.toplist-milld1-left2:hover a{
	color: rgb(229,0,79);
}
.toplist-milld1-left2:hover s{
	background-position: -225px -88px; 
}
.toplist-milld1-left2:hover b{
	background-position: -175px -128px; 
}
.toplist-milld1-left3{
	width: 145px;
	height: 34px;
	position: relative;
	float: left;
}
.toplist-milld1-left3 a{
	width: 72px;
	height: 34px;
	padding-left: 28px;
	display: block;
	color: rgb(102,102,102);
	font-size: 12px;
	line-height: 34px;
}
.toplist-milld1-img3{
	width: 21px;
	height: 20px;
	position: absolute;
	top:7px;
    left: 6px;
	display: block; 
	background: url(../img/phone.jpg) no-repeat ; 
}
.toplist-milld1-list1{
	width: 150px;
	height: 190px;
	background-color: #fff;
	position: absolute;
	top: 0;
    z-index: 5;
    display: none;
    cursor:pointer;
}
.toplist-milld1-list1 img{
	margin: auto;
	display: block;
	cursor: default;
}
.toplist-milld1-left3 b{
	width: 9px;
	height: 5px;
	position: absolute;
	display: block;
	left: 82px;
	top:16px;
	background: url(../img/header-02.png) no-repeat -175px -111px; 
}
.toplist-milld1-left3:hover a{
	color: rgb(229,0,79);
}
.toplist-milld1-left3:hover s{
	background-position: 0px -20px; 
}
.toplist-milld1-left3:hover b{
	background-position: -175px -128px; 
}
#toplist-milld1-right{
	width: 495px;
	height: 34px;
	padding-left:0px;
	float: right;
	font-size: 12px;
	color: rgb(102,102,102);
}
.toplist-milld1-right1{
	width: 190px;
	height: 34px;
	padding-right: 10px;
	float: left;
}
.toplist-milld1-right1 span{
	line-height: 18px;
	width: 120px;
	height: 15px;
}
.toplist-milld1-right1 a{
	height: 15px;
	display: inline;
	font-size: 12px;
	color: rgb(102,102,102);
}
.denglu{
	margin-right: 10px;
}
.toplist-milld1-right1 a:hover{
	color: rgb(229,0,79);
}
.toplist-milld1-right2{
	width: 68px;
	height: 34px;
	float: left;
}
.toplist-milld1-right2 a{
	width: 48px;
	height: 26px;
	display: block;
	padding: 0 10px;
	padding-top: 8px;
	font-size: 12px;
	color: rgb(102,102,102);
	line-height: 18px;
	position: relative;
}
.toplist-milld1-right2 a:hover{
	color: rgb(229,0,79);
}
.toplist-milld1-list2{

}
.toplist-milld1-right3{
	width: 82px;
	height: 34px;
	float: left;
}
.toplist-milld1-right3 a{
	width: 62px;
	height: 26px;
	display: block;
	padding: 0 10px;
	padding-top: 8px;
	font-size: 12px;
	color: rgb(102,102,102);
	line-height: 18px;
	position: relative;
}
.toplist-milld1-right3 a:hover{
	color: rgb(229,0,79);
}
.toplist-milld1-right3 b{
	width: 9px;
	height: 5px;
	display: block;
	left: 62px;
	top:16px;
	background: url(../img/header-02.png) no-repeat -175px -111px; 
}
.toplist-milld1-right3:hover b{
	background-position: -175px -128px; 
}
.toplist-milld1-line2{
	height: 14px;
	border-left: 1px solid rgb(204,204,204);
	position: relative;
	float: left;
	top: 10px;
	margin: 0 2px;
}
.toplist-milld1-list2{
	width: 82px;
	height: 205px;
	background-color: #fff;
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}
.toplist-yintai-list{
	border-bottom: 1px solid black;
	height: 28px;
	padding-top:0;
	line-height: 28px; 
}
.toplist-yintai-list:hover{
	color: rgb(229,0,79);
	text-decoration: underline;
}
.toplist-milld1-right4{
	width: 56px;
	height: 34px;
	float: left;
}
.toplist-milld1-right4 a{
	width: 36px;
	height: 26px;
	display: block;
	padding: 0 10px;
	padding-top: 8px;
	font-size: 12px;
	color: rgb(102,102,102);
	line-height: 18px;
}
.toplist-milld1-right4 a:hover{
	color: rgb(229,0,79);

}
.toplist-milld1-right5{
	width: 68px;
	height: 34px;
	float: left;
}
.toplist-milld1-right5 a{
	width: 48px;
	height: 26px;
	display: block;
	padding: 0 10px;
	padding-top: 8px;
	font-size: 12px;
	color: rgb(102,102,102);
	line-height: 18px;
}
.toplist-milld1-right5 a:hover{
	color: rgb(229,0,79);
}
/*上部分图片*/
.head-length-img{
	width: 100%;
	height: 80px;
}
.head-length-img a{
	width: 100%;
	height: 80px;
	display: block;
	background: url(../img/head-2.jpg) center;
	background-repeat: no-repeat;
}
/*上部分搜索框*/
.head-serch-box{
	width: 100%;
	height: 120px;
	position: relative;
}
.head-serch{
	width: 1190px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
.head-serch1{
	width: 215px;
	height: 76px;
	margin-top: 21px;
	float: left;
}
.head-serch1 a{
	width: 215px;
	height: 76px;
	display: block;
	background: url(../img/header-3-1.gif) no-repeat;
}
.head-serch2{
	width: 145px;
	height: 80px;
	margin-top: 18px;
	float: left;
}
.head-serch-line{
	height: 70px;
	width: 0px;
	border-left: 1px solid rgb(239,239,239);
	line-height: 80px;
	margin: 0 10px;
	margin-top: 6px;
	float: left;
}
.head-serch2 a{
	width: 120px;
	height: 80px;
	display: block;
	background: url(../img/header-3-2.gif) no-repeat;
	float: left;
}
.head-serch3{
	width: 498px;
	height: 58px;
	margin-top: 40px;
	position: absolute;
	left: 515px;
}
.head-serch3-1{
	width: 494px;
	height: 30px;
	border: 1px solid rgb(50,51,51);
	margin-bottom: 8px;
}
.head-serch3-1 input{
	width: 440px;
	height: 30px;
	padding:0 5px;
	border: 0px;
	float: left;
}
.head-serch3-1 button{
	width: 44px;
	height: 30px;
	border: 0;
    background: url(../img/header-02.png) no-repeat 0 -78px;
}
.head-serch3-1 button:hover{
	cursor: pointer;
}
.head-serch3-2{
	width: 498px;
	height: 18px;
	float: left;
}
.head-serch3-2 a{
	height: 18px;
	margin-right: 12px;
	font-size: 12px;
	color: #888
}
.head-serch3-2 a:hover{
	text-decoration: underline;
	color: rgb(229,0,79);
}
.head-serch4{
	width: 160px;
	height: 32px;
	position: absolute;
	margin-left: 18px;
	margin-top: 40px;
	left: 1012px;
	background-color: rgb(102,102,102);
}
.head-serch4 a{
	width: 160px;
	height: 32px;
	display: block;
	line-height: 32px;
	float: left;
	background: url(../img/header-01.png) no-repeat -55px -76px;
}
.head-serch4 span{
	width: 67px;
	height: 32px;
	padding-left: 48px;
	display: block;
	line-height: 32px;
	font-size: 12px;
	color: #fff;
}
.ling{
	width: 9px;
	height: 18px;
	color: rgb(220,0,79);
	font-size: 16px;
	line-height: 18px;
	display: inline;
	top:7px;
	position: absolute;
}
.head-milld3-4 b{
	width: 7px;
	height: 4px;
	position: absolute;
	left: 130px;
	background: url(../img/header-01.png) no-repeat -189px -111px;
    display: block
}
/*顶部导航*/
.head-top-banner{
	width: 100%;
	height: 39px;
	border-bottom: 1px solid rgb(45,46,46)
}
.top-banner-middle{
	width: 1190px;
	height: 39px;
	margin: 0 auto;
}
.banner-middle1{
	width: 210px;
	height: 39px;
	float: left;
}
.banner-middle1 a{
	width: 210px;
	height: 39px;
	background-color: rgb(34,34,34);
	display: block;
	font-size: 18px;
	text-align: center;
	color: #fff;
	line-height: 39px;
}
.top-banner-middle ul{
	width: 392px;
	height: 39px;
	padding-left: 20px;
	display: block;
	float: left;
}
.top-banner-middle li{
	height: 39px;
	padding: 0 15px;
	float: left;
	line-height: 39px;
	font-size: 16px;
	position: relative;
}
.top-banner-middle span{
	width: 64px;
	height: 26px;
	padding-left: 10px;
	padding-top: 10px;
	display: block;
	padding-right: 10px;
	margin-bottom: 3px;
	position: relative;
	line-height: 26px;
}
.top-banner-middle span:hover{
	border-bottom: 3px solid rgb(220,0,79);
}
.banner-middle2{
	width: 82px;
}
.banner-middle2 a{
    color: rgb(50,51,51);
    display: block;
    height: 39px;
}
.banner-middle2 a:hover{
	color: rgb(220,0,79);
}
.banner-middle3{
	width: 68px;
}
.banner-middle3 a{
    color: rgb(50,51,51);
    display: block;
    height: 39px;
}
.banner-middle3 a:hover{
	color: rgb(220,0,79);
}
#banner-middle-title{
	width: 48px;
}
.banner-middle4{
	width: 52px;
}
.banner-middle4 a{
    color: rgb(50,51,51);
    display: block;
    height: 39px;
}
.banner-middle4 a:hover{
	color: rgb(220,0,79);
}
#banner-middle-title1{
	width: 32px;
}
.banner-middle5{
	width: 68px;
}
.banner-middle5 a{
    color: rgb(50,51,51);
    display: block;
    height: 39px;
}
.banner-middle5 a:hover{
	color: rgb(220,0,79);
}
#banner-middle-title2{
	width: 48px;
}
.banner-middle6{
	width: 155px;
	height: 38px;
	padding-top: 1px;
	float: right;
	line-height: 38px;
	font-size: 12px;
	color: rgb(203,203,203);
}
.banner-middle6 a{
	
	height: 38px;
	margin: 0 8px;
	font-size: 14px;
	color: rgb(102,102,102);
	float: left;
}
.banner-middle6 div{
	float: left;
}
.banner-middle6 a:hover{
	color: rgb(220,0,79);
}
/*banner部分*/
.head-box5{
	width: 100%;
	height: 470px;
	position: relative;
}
.head-color-box{
	height: 470px;
	width: 1920px;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;

}
/*.head-banner-imgbox1{
	height: 470px;
	width: 1920px;
	position: absolute;

}
.banner-imgbox1{
	height: 470px;
	width: 1920px;
	margin: 0 auto;
}*/
/*.banner-img1{
    height: 470px;
    width: 1920px;
    position: absolute;
}
.banner-img1 img{
	height: 470px;
	width: 1920px;
	position: absolute;

}*/



.head-milld5-1{
	width: 100%;
	height: 12px;
    position: absolute;

    background-color: #eee;
    opacity: 0.1;
    z-index: 1;
}
.head-milld5-2{
	width: 1190px;
	height: 470px;
	/*margin-left: -365px;*/
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: relative;
}



.banner-imgbox{
	height: 470px;
	width: 1190px;
}
.banner-img{
    height: 470px;
    width: 1190px;
    display: block;
    position: absolute;
}
.banner-img img{
	height: 470px;
	width: 1190px;
	position: absolute;
}

.head-left1-11{
	width: 495px;
	height: 429px;
	background-color: rgb(51,51,51);
	/*opacity: 0.9;*/
	position: absolute;
	top: 0px;
	left: 210px;
	display: none;

}
.head-jiantouss{
	width: 30px;
	height: 60px; 
	/*background-color: red;*/
	position: absolute;
	top: 200px;
	background-image: url(../img/prevnext.png);
	cursor: pointer;
	/*z-index: 999999;*/
	/*display: none;*/
}
.jiantou3{
	left: 210px;
	background-position: left top;
}
.jiantou4{
	right:200px;
	background-position: top right;
}

.head-left1-12{
	width: 295px;
	height: 421px;
	float: left;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	/*opacity: 0.8;*/
}
.head-left1-13{
	width: 295px;
	height: 42px;
	border-bottom: 1px dotted rgb(102,102,102);
}
.head-left1-14{
	width: 295px;
	height: 21px;
}
#head-left1-12-1{
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	margin-left:0 
}
#head-left1-12-1:hover{
	color: rgb(229,0,79);
}

#head-left1-13-1{
	color: rgb(229,0,79);
	font-size: 12px;
	line-height: 20px;
	margin-right: 10px;
	float: left;
	margin-left: 0;
	display: block;
	width: auto;
	height: auto;
}
#head-left1-13-2{
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-right: 10px;
	float: left;
	margin-left: 0;
	display: block;
	width: auto;
	height: auto;
}
#head-left1-13-2:hover{
	color: rgb(229,0,79);
}
#head-left1-13-1 a:hover{
	color: rgb(229,0,79);
}
.head-5-left i{
	width: 0px;
	height: 16px;
	border-left: 1px solid rgb(153,153,153);
	display: block;
	float: left;
	margin-top: 2px;
}
.head-left1-15{
	width: 145px;
	height: 399px;
	padding: 15px;
	padding-right: 0px;
	background-color: #000;
	float: left;
}
.head-left1-15 h3{
	color: #fff;
	width: auto;
	font-size: 14px;
	border-bottom: 1px dotted rgb(102,102,102);
	line-height: 21px;
	padding-bottom: 5px;
}
.head-left1-15 a{
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	display: block;
	margin-left: 0;
	width: 145px;
	margin-top: 4px;
}
.head-left1-15 a:hover{
	color: rgb(229,0,79);
}
.head-5-left{
	width: 210px;
	height: 470px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(81,81,81);
	z-index: 999;
}
.head-5-left dl{
	width: 210px;
	height: 46px;
	margin-bottom: 1px;
}
.head-5-left dt{
	width: 210px;
	height: 30px;
	padding-top: 16px;
	background-color: rgb(51,51,51);
}
.head-5-left a{
	width: 56px;
	height: 20px;
	margin-left: 18px;
	font-size: 16px;
	color: #fff;
	float: left;
	line-height: 20px;
}
.head-left1-1 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat 0 -108px;
	margin-top: 1px;
}
.head-5-left i{
	width: 0px;
	height: 16px;
	border-left: 1px solid rgb(153,153,153);
	display: block;
	margin: 0 8px;
	float: left;
	margin-top: 2px;
}
#head-5-left1{
	/*width: 36px;*/
	height: 20px;
	font-size: 12px;
	color: #fff;
	display: block;
	margin-left: 0px;
}
#head-5-left1:hover{
	text-decoration: underline;
}
.head-5-left span{
    width: 6px;
    height: 11px;
    margin-top: 5px;
    margin-right: 15px;
    background: url(../img/header-01.png) no-repeat -209px -111px;
    float: right;
}
.head-left-1:hover{
	background-color: rgb(220,0,79);
}
.head-left-1:hover em{
	background: url(../img/header-01.png) no-repeat 0 -126px;
}
.head-left-1:hover span{
	background: url();
}
.head-left1-2 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -17px -110px;
	margin-top: 1px;
}
.head-left-2:hover{
	background-color: rgb(220,0,79);
}
.head-left-2:hover em{
	background: url(../img/header-01.png) no-repeat -17px -128px;
}
.head-left-2:hover span{
	background: url();
}
.head-left1-3 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -34px -110px;
	margin-top: 1px;
}
.head-left-3:hover{
	background-color: rgb(220,0,79);
}
.head-left-3:hover em{
	background: url(../img/header-01.png) no-repeat -34px -128px;
}
.head-left-3:hover span{
	background: url();
}
.head-left1-4 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -51px -111px;
	margin-top: 1px;
}
.head-left-4:hover{
	background-color: rgb(220,0,79);
}
.head-left-4:hover em{
	background: url(../img/header-01.png) no-repeat -51px -129px;
}
.head-left-4:hover span{
	background: url();
}
.head-left1-5 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -68px -111px;
	margin-top: 1px;
}
.head-left-5:hover{
	background-color: rgb(220,0,79);
}
.head-left-5:hover em{
	background: url(../img/header-01.png) no-repeat -68px -129px;
}
.head-left-5:hover span{
	background: url();
}
.head-left1-6 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -85px -110px;
	margin-top: 1px;
}
.head-left-6:hover{
	background-color: rgb(220,0,79);
}
.head-left-6:hover em{
	background: url(../img/header-01.png) no-repeat -85px -128px;
}
.head-left-6:hover span{
	background: url();
}
.head-left1-7 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -102px -111px;
	margin-top: 1px;
}
.head-left-7:hover{
	background-color: rgb(220,0,79);
}
.head-left-7:hover em{
	background: url(../img/header-01.png) no-repeat -102px -129px;
}
.head-left-7:hover span{
	background: url();
}
.head-left1-8 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -119px -111px;
	margin-top: 1px;
}
.head-left-8:hover{
	background-color: rgb(220,0,79);
}
.head-left-8:hover em{
	background: url(../img/header-01.png) no-repeat -119px -129px;
}
.head-left-8:hover span{
	background: url();
}
.head-left1-9 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -136px -111px;
	margin-top: 1px;
}
.head-left-9:hover{
	background-color: rgb(220,0,79);
}
.head-left-9:hover em{
	background: url(../img/header-01.png) no-repeat -136px -129px;
}
.head-left-9:hover span{
	background: url();
}
.head-left1-10 em{
	width: 17px;
	height: 17px;
	margin-right: 7px;
	display:block;
	float: left;
	background: url(../img/header-01.png) no-repeat -153px -111px;
	margin-top: 1px;
}
.head-left-10:hover{
	background-color: rgb(220,0,79);
}
.head-left-10:hover em{
	background: url(../img/header-01.png) no-repeat -153px -129px;
}
.head-left-10:hover span{
	background: url();
}


/*.brand1-center-jiantou{
	width: 30px;
	height: 60px;
	position: absolute;
	top: 150px;
	background-image: url(../img/prevnext.png);
	cursor: pointer;
	opacity: 0.8;
}
.jiantou1{
	left: -30px;
	background-position: left top;
}
.jiantou2{
	right: -30px;
	background-position: top right;
}
.brand1-center-box a:hover{
	opacity: 0.8;
}*/
.banner-btnbox{
	width: 192px;
	height: 8px;
	position: absolute;
	bottom: 22px;
	left: 50%;
	margin-left: -62px;
	z-index: 9999;
}
.banner-btn{
	height: 8px;
	width: 30px;
	background-color: rgb(33,22,22);
	margin-right: 2px;
	float: left;
}
.banner-btn:hover{
	background-color: rgb(229,0,79);
	cursor: pointer;
}




#head-5-right{
	width: 200px;
	height: 470px;
	position: absolute;
    z-index: 1000;
    /*display: block;*/
    top: 0px;
    left:990px;
}
#head-5-right img{
	width: 200px;
	height: 470px;
}
#head-5-right:hover{
	left: 980px;
}
/*推荐*/
.recommended-box{
	width: 1190px;
	height: 325px;
	padding-top: 30px;
	margin-bottom: 25px;
	margin: 0 auto;
	margin-top: 469px;
}
.recommended-left{
	width: 910px;
	height: 324px;
	float: left;
}
.recommended-left ul{
	width: 910px;
	height: 52px;
}
.recommended-left li{
	width: 303px;
	height: 47px;
	border-bottom: 5px solid #333;
	position: relative;
	float: left;
}
.recommended-left a{
	display: block;
	width: 304px;
	height: 47px;
	text-align: center;
	line-height: 47px;
	font-size: 16px;
	color:rgb(102,102,102);
	font-weight: ;
    display: block;
}

.recommended-jiantou{
	background: url(../img/yt_ico.png) no-repeat 0 -16px;
	display: none;
}
.recommended-left span{
	width: 7px;
	height: 4px;
	position: absolute;
	top: 43px;
	left: 143px;
}
.recommended-left2{
	width: 910px;
	height: 272px;
	float: left;
	overflow: hidden;
}
.recommended-left2-1{
	width: 940px;
	height: 262px;
	padding-top: 10px;
	float: left;
}
.recommended-left2-1-1{
	width: 220px;
	height: 260px;
	border: 1px solid rgb(238,238,238);
	margin-right: 7px;
	float: left;
}
.recommended-left2-1-1:hover{
	opacity: 0.7;
}
.recommended-left2-1-tu1{
	width: 220px;
	height: 260px;
	float: left;
	display: block;
	position: relative;
}
.recommended-left2-1-tu1 img{
	width: 220px;
	height: 260px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.recommended-right{
	width: 270px;
	height: 305px;
	float: right;
	margin-top: 24px;
	position: relative;
}
.recommended-right a{
	width: 250px;
	height: 285px;
	position: absolute;
    display: block;
    left: 50%;
    margin-left: -125px;
    top: 10px;

}
/*专柜*/
.counters-box{
	width: 1190px;
	height: 624px;
	margin: 0 auto;
	margin-top: 36px;
	position: relative;
}
.counters-top{
	width: 1190px;
	height: 46px;
}
.counters-top h6{
	width: 380px;
	height: 36px;
	display: block;
	margin-bottom: 10px;
	background: url(../img/counters1.png) no-repeat;
}
.counters-bottom{
	width: 1168px;
	height: 555px;
	padding: 10px;
	border: 1px solid rgb(238,238,238);
	float: left;
}
.counters-bottom-left{
	width: 340px;
	height: 555px;
	display: block;
	float: left;
}
.counters-bottom-right{
	width: 815px;
	height: 555px;
	float: right;
}
.counters-bottom-right-top{
	width: 815px;
	height: 35px;
	border-bottom: 3px solid rgb(51,51,51)
}
.counters-bottom-right-top ul{
	width: 204px;
	height: 38px;
}
.counters-bottom-right-top li{
	width: 102px;
	height: 35px;
	font-size:14px;
	line-height: 35px;
	text-align: center;
	position: relative;
	float: left;
	border-bottom: 3px solid rgb(51,51,51)
}
/*.counters-bottom-right-top li:hover{
	border-bottom: 3px solid rgb(231,0,80);
}*/
.counters-right-biaoti{
	color: #666;
}
/*.counters-bottom-right-top1:hover a{
	color: rgb(65,65,65);
	font-weight: 700;
}*/
.counters-bottom-right-top1{
	cursor: pointer;
}
.counters-bottom-right-top span{
	width: 7px;
	height: 4px;
    position: absolute;
    top: 31px;
    left: 51px;
}
.counters-right-top1{
	background: url(../img/yt_ico.png) no-repeat 0 -16px;	
}
.counters-bottom-right-top1:hover span{
	background: url(../img/yt_ico.png) no-repeat 0 -16px;
}
.counters-bottom-right-bottom{
	width: 815px;
	height: 517px;
	/*position: relative;*/
	overflow: hidden;
}
.counters-bottom-right-bottom-box1{
    width: 815px;
    height: 517px;
    /*position: absolute;*/
    background-color: #fff;
}
.counters-bottom-right-bottom-box1{
	width: 910px;
	height: 517px;
	/*position: absolute;*/
	background-color: #fff;
}
.counters-bottom-right-bottom-box1 ul{
	width: 815px;
	height: 517px;
	margin-top: 10px;
}
.counters-bottom-right-bottom-box1 li{
	width: 198px;
	height: 248px;
	border: 1px solid rgb(238,238,238);
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
}
.counters-small1{
	width: 198px;
	height: 200px;
	position: relative;
}
.counters-small1:hover{
	opacity: 0.7;
}
.counters-small1 a{
	width: 150px;
	height: 200px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -75px;
}
.counters-small2{
	width: 188px;
	height: 38px;
	padding: 5px;
	background-color: rgb(248,248,248);
}
.counters-small2-tittle{
	width: 188px;
	height: 20px;
	color: rgb(50,50,50);
	line-height: 18px;
	text-decoration: underline;
	overflow: hidden;
	display: block;
}
.counters-small2-bottom{
	width: 188px;
	height: 18px;	
}
.small2-1{
	width: 33px;
	height: 17px;
	color: rgb(229,0,79);
	font-size: 12px;
}
.small2-2{
	/*width: 81px;*/
	height: 18px;
	color: rgb(167,167,167);
	font-size: 12px;
	float: right;
	text-decoration: line-through;
}
.counters-bottom-right-bottom-box1 a{
	display: block;
	float: left;
}
.counters-bottom-right-bottom1{
    width: 220px;
    height: 250px;
    margin-top: 4px;
    margin-right: 5px;
}
.counters-bottom-right-bottom1:hover{
	opacity: 0.7;
}
.counters-bottom-right-bottom2:hover{
	opacity: 0.7;
}
.counters-bottom-right-bottom3:hover{
	opacity: 0.7;
}
.counters-bottom-right-bottom4:hover{
	opacity: 0.7;
}
.counters-bottom-right-bottom5:hover{
	opacity: 0.7;
}
.counters-bottom-right-bottom6:hover{
	opacity: 0.7;
}
.counters-bottom-right-bottom2{
    width: 365px;
    height: 250px;
    margin-top: 4px;
    margin-right: 5px;
}
.counters-bottom-right-bottom3{
    width: 220px;
    height: 250px;
    margin-top: 4px;
}
.counters-bottom-right-bottom4{
    width: 290px;
    height: 260px;
    margin-top: 4px;
    margin-right: 5px;
}
.counters-bottom-right-bottom5{
    width: 240px;
    height: 260px;
    margin-top: 4px;
    margin-right: 5px;
}
.counters-bottom-right-bottom6{
    width: 275px;
    height: 260px;
    margin-top: 4px;
}
/*广告*/
.guanggao{
	display: block;
	width: 1190px;
	height: 80px;
    margin: 0 auto;
    margin-top: 30px;
}

/*品牌1*/
.brand-box1{
	width: 1190px;
	height: 418px;
	margin: 0 auto;
    margin-top: 36px;
}
.brand1-top-box{
	width: 1190px;
	height: 46px;
}
.brand1-top-box a{
	width: 260px;
	height: 36px;
	display: block;
	background-image: url(../img/brand.png);
}
.brand1-left-box{
	width: 228px;
	height: 370px;
	border: 2px solid rgb(238,238,238);
	float: left;
	margin-right: 8px;
}
.brand1-left-box ul{
	width: 220px;
	height: 172px;
	padding-left: 8px;
	padding-top:16px; 
}
.brand1-left-box li{
	width: 67px;
	height: 32px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	display: block;
}
.brand1-left-box li a:hover{
	background-color: rgb(229,0,79);
	color: #fff;
}
.brand1-left-box a{
	width: 65px;
	height: 32px;
	border: 2px solid rgb(238,238,238);
	font-size: 14px;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 32px;
	display: block;
}
.brand1-left-bottom{
	width: 200px;
	height: 140px;
	margin-left: 15px;
	border-top: 2px dashed rgb(150,150,150);
	background-color: rgb(242,242,242);
	position: relative;
}
.brand1-left-bottom1{
	width: 160px;
	height: 116px;
	line-height: 116px;
	float: left;
}

.brand1-left-bottom-box{
	width: 160px;
	height: 116px;
	position: relative;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
}
.brand1-left-bottom-box1{
	width: 480px;
	height: 116px;
}
.brand1-left-bottom1 a{
	width: 72px;
	height: 50px;
	display: block;
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
}
.brand1-left-bottom1 img{
	width: 75px;
	height: 50px;
	display: block;
	/*margin-bottom: 5px;
	margin-right: 5px;*/
	float: left;
}
#brand1-left-bottom11{
	margin-right: 0px;
}
#brand1-left-jiantou1{
	width: 14px;
	height: 138px;
	position: absolute;
	left: 5px;
	top: 0;
	background: url(../img/yt_ico_1.png) no-repeat 0 50%;
	display: block;
	border: 0px;
	cursor: pointer;
}
#brand1-left-jiantou1:hover{
	background: url(../img/yt_ico_1.png) no-repeat -14px 50%;	
}
#brand1-left-jiantou2{
	width: 14px;
	height: 138px;
	position: absolute;
	right: 5px;
	top: 0;
	background: url(../img/yt_ico_1.png) no-repeat -28px 50%;
	display: block;
	border: 0px;
	cursor: pointer;
}
#brand1-left-jiantou2:hover{
	background: url(../img/yt_ico_1.png) no-repeat -42px 50%;	
}
.brand1-center-box{
	width: 390px;
	height: 370px;
	border: 1px solid rgb(238,238,238);
	float: left;
	position: relative;
	overflow: hidden;
}
.brand2-center-box{
	width: 390px;
	height: 370px;
	border: 1px solid rgb(238,238,238);
	float: left;
	position: relative;
	overflow: hidden;
}
.brand1-center-box-small{
	width: 780px;
	height: 370px;
}
.brand1-center-box a{
	width: 390px;
	height: 370px;
}
.brand1-center-img{
	width: 390px;
	height: 370px;
	float: left;
}
.brand1-center-jiantou{
	width: 30px;
	height: 60px;
	position: absolute;
	top: 150px;
	background-image: url(../img/prevnext.png);
	cursor: pointer;
	opacity: 0.8;
}
.jiantou1{
	left: -30px;
	background-position: left top;
}
.jiantou2{
	right: -30px;
	background-position: top right;
}
.brand1-center-box a:hover{
	opacity: 0.8;
}
.brand2-center-box a:hover{
	opacity: 0.8;
}
.brand1-center-bottom{
	width: 36px;
	height: 13px;
	position: absolute;
	top: 341px;
	left: 50%;
	margin-left: -18px;
}
.brand1-center-bottom1{
	width: 13px;
	height: 13px;
	background-image:url(../img/trriger.png);
	background-position: top;
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.brand1-center-bottom1:hover{
	background:url(../img/trriger.png) no-repeat 0 -13px;
	
}
.brand1-right-box{
	width: 552px;
	height: 372px;
	position: relative;
	float: right;
}
.brand1-right-11{
	width: 280px;
	height: 190px;
	float: left;
}
.brand1-right-1{
	width: 270px;
	height: 180px;
	border: 1px solid rgb(238,238,238);
	float: left;
}
.brand1-right-1 a{
	width: 270px;
	height: 180px;
	display: block;
}
/*尾部推荐*/
.bottom-recommended-box{
	width: 1191px;
	height: 168px;
	border: 1px solid rgb(238,238,238);
	margin: 0 auto;
	margin-top: 34px;
}
.bottom-recommended1{
	width: 395px;
	height: 165px;
	border: ;
    float: left;
}
.bottom-recommended1 a{
	width: 395px;
	height: 165px;
	display: block;
	overflow: hidden;
}
.bottom-recommended1 a:hover{
	opacity: 0.7;
}
.bottom-recommended2{
	width: 396px;
	height: 165px;
	border-left:1px solid rgb(238,238,238) ;
	border-right:1px solid rgb(238,238,238) ;
    float: left;
}
.bottom-recommended2 a{
	width: 395px;
	height: 165px;
	display: block;
	overflow: hidden;
}
.bottom-recommended2 a:hover{
	opacity: 0.7;
}
/*尾部	*/
.bottom-box{
	width: 100%;
	height: 291px;
	padding-top: 20px;
	margin-top: 20px;
}
.bottom-top{
	width: 1189px;
	height: 89px;
	border: 1px solid rgb(238,238,238);
	margin: 0 auto;
	background-color: rgb(247,247,247);
}
.bottom-top span{
	width: 282px;
	height: 68px;
	padding-left: 45px;
	padding-top: 20px;
	border-right: 1px solid rgb(238,238,238);
	float: left;
}
.dianhua{
	font-size: 20px;
	color: rgb(229,0,79);
	width: 120px;
	height: 30px;
	padding-left: 24px;
	padding-right: 20px;
	background: url(../img/footer-01.png) no-repeat 2px 0;
	float: left;
}
.shijian{
	width: 63px;
	height: 20px;
	font-size: 12px;
	color: rgb(102,102,102);
	line-height: 18px;
	margin-top: 7px;
	float: left;
}
.email{
	width:119px;
	height: 18px;
	font-style: 14px;
	color: rgb(136,136,136); 
	background: url(../img/footer-01.png) no-repeat 0px -28px;
	float: left;
	padding-left: 24px;
}
#bottom-top2{
	padding-left: 100px;
	padding-top: 23px;
	background: url(../img/footer-01.png) no-repeat 52px -56px;
	width: 186px;
}
.dianhua2{
	width: 186px;
	height: 24px;
	font-size: 16px;
	color: #000;
}
.dianhua2 i{
	width: 36px;
	height: 24px;
	font-size: 16px;
	color: rgb(229,0,79);
	line-height: 24px;
    font-style: normal;
}
.shijian2{
	width:125px;
	height: 20px;
	font-size: 12px;
	color: rgb(136,136,136);
	line-height: 18px; 
}
.dianhua3{
	width: 182px;
	height: 24px;
	font-size: 16px;
	color: #000;
}
.dianhua3 i{
	width: 36px;
	height: 24px;
	font-size: 16px;
	color: rgb(229,0,79);
	line-height: 24px;
    font-style: normal;
}
#bottom-top3{
	padding-left: 104px;
	padding-top: 23px;
	background: url(../img/footer-01.png) no-repeat 52px -132px;
	width: 182px;
}
.dianhua4{
	width: 140px;
	height: 24px;
	font-size: 16px;
	color: #000;
}
.dianhua4 i{
	width: 36px;
	height: 24px;
	font-size: 16px;
	color: rgb(229,0,79);
	line-height: 24px;
    font-style: normal;
}
#bottom-top4{
	padding-left: 115px;
	padding-top: 23px;
	background: url(../img/footer-01.png) no-repeat 52px -203px;
	width: 140px;
	border: 0px;
}
.bottom-center{
	width: 870px;
	height: 18px;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top:39px; 
	padding: 0 160px;
	font-style: 12px;
	color: rgb(102,102,102);
	line-height: 15px;
}
.bottom-center a{
	width: 48px;
	height: 15px;
	margin:0 10px;
	font-size: 12px;
	color: rgb(117,117,117);
	line-height: 15px;
}
#bottom-center1{
	margin-left: 0px;
}
#bottom-center2{
	margin-right: 0px;
}
.bottom-center a:hover{
	color: rgb(229,0,79);
}
.bottom-bottom1{
	width: 1190px;
	height: 44px;
	margin: 0 auto;
}
.bottom-bottom1-top{
	width: 1190px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-weight: 12px;
	color: rgb(178,178,178);
}
.bottom-bottom1-top a{
	height: 15px;
	margin: 0 6px;
	color: rgb(178,178,178);
}
.bottom-bottom2{
	width: 1190px;
	height: 48px;
	margin: 0 auto;
	padding-top:10px; 
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}
.bottom-bottom2 a{
	margin: 0 12px;
	width: 112px;
	height: 40px;
	display: inline-block;
}
.bottom-bottom2 img{
	width: 112px;
	height: 40px;
}
#hui1{
	width: 102px;
	height: 40px;
}
#hui{
	width: 45px;
	height: 49px;
	line-height: 18px;
}
#hui1-a{
	width: 102px;
	height: 40px;
}
#hui-a{
	width: 48px;
	height: 48px;
	line-height: 18px;
}

/*右边栏*/
.rightbar-box{
	width: 50px;
	height: 545px;
	position: fixed;
	margin-right: -660px;
	right:50%;
	top:120px;
	overflow: hidden;
	display: none;
	display: block;
	background-color: #ccc;
}
.rightbar-box a{
    width: 30px;
	height: 30px;
	padding: 5px 10px;
	padding-bottom: 15px;
	margin-bottom: 5px;
	background-image:url(../img/banner_left.png);
	display: block;
	cursor: pointer;
	text-align: center;
	font-size: 0
}
#rightbar-box1{
	background-position: 0 0;
}
#rightbar-box2{
	background-position: 0 -55px;
}
#rightbar-box3{
	background-position: 0 -110px;
}
#rightbar-box4{
	background-position: 0 -165px;
}
#rightbar-box5{
	background-position: 0 -220px;
}
#rightbar-box6{
	background-position: 0 -275px;
}
#rightbar-box7{
	background-position: 0 -330px;
}
#rightbar-box8{
	background-position: 0 -385px;
}
#rightbar-box9{
	background-position: 0 -440px;
}
#rightbar-box10{
	background-position: 0 -495px;
}
.rightbar-box a:hover{
	background: #e5004f;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}